body {
    font-family: monospace, sans-serif;
    font-size: clamp(0.5rem, 1vw + 1rem, 1rem);
    background-color: #eff1f3;
}


nav {
    background-color:  #9150aa;
    border-top: 2px solid black;
    border-bottom: 2px solid black;

}


nav:has(a) {
    color: #ffffff;
}


h1 {
    color: black;
    font-size: clamp(1.5rem, 2vw + 1rem, 3.5rem);
    font-weight:600;
}
.title {
    font-family: 'Rowdies', sans-serif;
}
.notes {
    background-color: #fcecae;
    border-radius: 5px;
    border-bottom: 4px solid black;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 3px solid black;
    font-style:italic;
}


.question {
    color:red;

}

.logo {
font-family: 'Rowdies', sans-serif;
color:#ffbd00;
text-shadow: 1px 1px 3px black;
font-size: clamp(0.5rem, 1vw + 1rem, 1.5rem);
}

button {
    font-family: 'Rowdies', sans-serif;
    font-size: clamp(0.5rem, 1vw + 1rem, 1.3rem);
    padding: 0.3rem 0.5rem;
    background-color: #9150aa;
    border: 0;
    border-bottom: 5px solid #390099;
    border-left: 1px solid #390099;
    border-radius: 2px;
    color: #ffffff;
    cursor: pointer;
    position: relative;
}

button:active {
border-bottom-width: 2px;
top: 3px;
}

button:hover {
   color: #ffbd00;
}

.hero {
    background-image: url(https://4.bp.blogspot.com/_UTVEq0jH4BA/TP7XkYCSRBI/AAAAAAAAEuM/sX12NSOj5kI/s1600/DSC_3709.JPG);
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit:contain;
}

.icon {
    height:22px;

}
footer {
    font-size: clamp(0.5rem, 1vw + 1rem, 1.3rem);
   color: #ffffff;

}

.nav-link {
    color: #ffffff;
    font-size: clamp(0.5rem, 1vw + 1rem, 1.3rem);
    font-family: monospace, sans-serif;
     font-weight: 900;
}

.nav-link:hover {
    color: #ffbd00;;
}


.intro {
    border: 1px solid white;
    border-radius: 15px;
}

.card {
    border-right: 3px solid black;
    border-bottom: 7px solid black;
    border-top: 1px solid black;
    border-left: 1px solid black;
    cursor: pointer;
    position: relative;
} 

.card:hover {
    border-bottom-width: 6px;
    bottom: 3px;
    transform: rotateX(15eg);
    transform: rotateY(1deg);
    transition-duration: 0.2s;
    }

.description-card {
    border: none;
    border-radius: 2px;

}


.divider {
    border: none;
    border-top: thick double grey;
    height:13px;
}

.categories{
   
    text-decoration: none;
    background-color: #fcecae;
    color:black;
    text-decoration:none;
    border-left: 1px solid #ffbd00;
    border-top: 1px solid #ffbd00;
    border-right: 4px solid #ffbd00;
    border-bottom: 6px solid #ffbd00;
    font-weight:700;
    padding: 0.5rem 0.5rem;
    text-decoration: none;
    font-size:larger;
}

.categories:hover
{
    background-color: #fcecae;
    color:black;
    text-decoration:none;
    border-left: 1px solid black;
    border-top: 1px solid black;
    border-right: 4px solid black;
    border-bottom: 6px solid black;
    border-bottom-width: 6px;
    bottom: 3px;
    transform: rotateX(15eg);
    transform: rotateY(1deg);
    transition-duration: 0.2s;
}